* {
    box-sizing: border-box;
    user-select: none;
}

body {
    font-family: Tahoma, Arial, sans-serif;
}

.control-buttons {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgb(96 125 139 / 80%);
}

.control-buttons .cont {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

.control-buttons .cont input[type="text"] {
    border-radius: 6px;
    border: none;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.control-buttons .cont input:focus {
    outline: none;
}

.control-buttons input[type="submit"] {
    color: #fff;
    background-color: #f44336;
    padding: 15px 25px;
    font-size: 30px;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
    border: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.info-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f6f6f6;
    font-size: 24px;
    border: 2px solid #2196f3;
    padding: 15px;
    margin: 20px 0 0 0;
}

.info-container .name {
    flex: 1;
}

.info-container .tries {
    flex: 1;
    text-align: right;
}

.memory-game-blockes {
    width: 100%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.memory-game-blockes.no-clicking {
    pointer-events: none;
}

.memory-game-blockes .game-block {
    height: 150px;
    width: 150px;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    margin: 0 5px 5px;
}

.memory-game-blockes .game-block .front:before {
    content: "?";
    color: #fff;
    font-size: 140px;
    font-weight: bold;
}

.memory-game-blockes .game-block .front {
    background-color: #333;
    line-height: 150px;
}

.memory-game-blockes .game-block .back {
    background-color: #607d8b;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.memory-game-blockes .game-block .back i {
    font-size: 140px;
}

.memory-game-blockes .game-block .face {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    backface-visibility: hidden;
    border: 5px solid #2196f3;
}

.memory-game-blockes .game-block.is-flipped,
.memory-game-blockes .game-block.has-match {
    transform: rotateY(180deg);
    pointer-events: none;
}

.leader-board {
    width: 100%;
    padding: 20px;
    background-color: #fff;
}

.leader-board div {
    background-color: #fff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.leader-board div:not(:last-child) {
    margin-bottom: 5px;
}