<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portifolio</title>
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/global.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Open+Sans:wght@300;400;500;700;800&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="scroller"></div>
    <div class="to-up" id="up"><i class="fa-solid fa-chevron-up"></i></div>
    <!--start heading-->
    <div class="heading" id="heading">
        <div class="container">
            <h2>My Portifolio</h2>
            <h3 class="in">
                <span></span>
                <span></span>
                <span></span>
            </h3>
            <ul class="">
                <li id="home" class="">home</li>
                <!-- <li id="about" class="">About</li> -->
                <li id="skills" class="">Skills</li>
                <li id="projects" class="">Projects</li>
                <li id="contact" class="">Contact</li>
            </ul>
        </div>
    </div>
    <div class="landing">
        <div class="container">
            <div class="text">
                <h2>Welcome To My Portifolio</h2>
                <p>I Will Show You My Projects Here You Can <span id="to-contact">contact</span> Conact</a> Me From The
                    Link
                    Top</p>
                <div class="links">
                    <a href="https://www.facebook.com/profile.php?id=100010663359529&mibextid=ZbWKwL" target="_blank"
                        class="facebook"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="https://wa.link/oxxw95" class="whatsup" target="_blank"><i
                            class="fa-brands fa-whatsapp"></i></a>
                    <a href="https://x.com/Eyad73303006?t=poWWfpcCIcwuN5Np2JVAdQ&s=09" target="_blank" class="X"><i
                            class="fa-brands fa-x-twitter"></i></a>
                    <a href="https://instagram.com/eyadzohair?igshid=MzMyNGUyNmU2YQ==" target="_blank" class="insta"><i
                            class="fa-brands fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/in/eyad-zohair-34a97129b?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
                        class="linkedin" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!--end heading-->
    <!--start skills-->
    <div class="skills">
        <div class="main-heading">my skills</div>
        <div class="container">
            <img src="images/skills.png" alt="">
            <div class="bar">
                <div class="box">
                    <h3>
                        HTML
                        <span>93%</span>
                    </h3>
                    <div class="progress">
                        <span style="width: 0%;" data-goal="93%"></span>
                    </div>
                </div>
                <div class="box">
                    <h3>
                        CSS
                        <span>90%</span>
                    </h3>
                    <div class="progress">
                        <span style="width: 0%;" data-goal="90%"></span>
                    </div>
                </div>
                <div class="box">
                    <h3>
                        JavaScript
                        <span>20%</span>
                    </h3>
                    <div class="progress">
                        <span style="width: 0%;" data-goal="20%"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end skills-->
    <div class="spikes"></div>
    <!--start portifolio-->
    <div class="port">
        <div class="main-heading">projects</div>
        <div class="container">
            <div class="box">
                <img class="image1" src="images/leon.jpg" alt="">
                <div class="caption">
                    <h3>Leon</h3>
                    <p>It's A Free Project From Graphbery For More Details Click The Link Bellow</p>
                </div>
                <div class="more">
                    <a target="_blank" href="../template 1/index.html">See Project</a>
                    <a href="" target="_blank" class="readMore readone">Read More</a>
                </div>
            </div>
            <div class="box">
                <img class="image2" src="images/kasper.jpg" alt="">
                <div class="caption">
                    <h3>Kasper</h3>
                    <p>It's A Free Project From Graphbery For More Details Click The Link Bellow</p>
                </div>
                <div class="more">
                    <a target="_blank" href="../template 2/index.html">See Project</a>
                    <a href="" target="_blank" class="readMore readtwo">Read More</a>
                </div>
            </div>
            <div class="box">
                <img class="image3" src="images/elzero.jpg" alt="">
                <div class="caption">
                    <h3>Elzero</h3>
                    <p>It's A Free Project From Elzero Web School For More Details Click The Link Bellow</p>
                </div>
                <div class="more">
                    <a target="_blank" href="../template 3/index.html">See Project</a>
                    <a href="" target="_blank" class="readMore readthree">Read More</a>
                </div>
            </div>
            <div class="box">
                <img class="image4" src="images/dashboard.jpg" alt="">
                <div class="caption">
                    <h3>Dashboard</h3>
                    <p>It's A Free Project From Elzero Web School For More Details Click The Link Bellow</p>
                </div>
                <div class="more">
                    <a target="_blank" href="../template 4/index.html">See Project</a>
                    <a href="" target="_blank" class="readMore readfour">Read More</a>
                </div>
            </div>
        </div>
    </div>
    <!-- end portifolio -->
    <!--start contact-->
    <div class="contact">
        <div class="main-heading">contact</div>
        <div class="container">
            <form>
                <div class="name" id="namer">
                    <input type="text" name="name" id="name" placeholder="Your Name" maxlength="10">
                    <p class="none">name must be from 3-10 characters</p>
                </div>
                <div class="phone" id="phone">
                    <input type="tel" name="number" id="number" placeholder="Your Number" maxlength="10">
                    <p class="nonee">number must be 10 characters</p>
                </div>
                <div class="message" id="mess">
                    <textarea placeholder="Your Message" id="message" maxlength="100"></textarea>
                    <p class="nona">message must be from 3-100 characters</p>
                </div>
                <div class="submit">
                    <input type="submit" id="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>
    <!--end contact-->
    <!--start footer-->
    <div class="footer">
        <p></p>
    </div>
    <!--end footer-->
    <script src="main.js"></script>
</body>

</html>